<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8e8568">  <td>14/12/15 18:56:21</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC01_VerifyIssueCanBeCreatedSearchedAndEdited.AfterTest()[pri:0, instance:Tests.TC01_VerifyIssueCanBeCreatedSearchedAndEdited@3c77d488]">&lt;&lt;AfterTest</td> 
<td>&nbsp;</td>  <td>main@1898325501</td>   <td></td> </tr>
<tr bgcolor="8e8568">  <td>14/12/15 18:48:23</td>   <td>-478393</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC01_VerifyIssueCanBeCreatedSearchedAndEdited.TC01_1()[pri:0, instance:Tests.TC01_VerifyIssueCanBeCreatedSearchedAndEdited@3c77d488]">&gt;&gt;TC01_1</td> 
<td>&nbsp;</td>  <td>main@1898325501</td>   <td></td> </tr>
<tr bgcolor="8e8568">  <td>14/12/15 18:50:52</td>   <td>-329340</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC01_VerifyIssueCanBeCreatedSearchedAndEdited.VerifyIssueCanBeCreatedSearchedAndEdited()[pri:0, instance:Tests.TC01_VerifyIssueCanBeCreatedSearchedAndEdited@3c77d488]">VerifyIssueCanBeCreatedSearchedAndEdited</td> 
  <td>main@1898325501</td>   <td></td> </tr>
</table>
